body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 242, 242);
    font-family: "Helvetica Neue",Helvetica
}

header{
    background:white;
}

.container-header{
    display: flex;
    justify-content: space-between;
    border: solid 1px red;
    margin: 0 10px 0 10px;
    background-color: white;
    padding: 5px 10px 5px 10px;
}

.box1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: solid 1px red;
}

.box1 .logo{
    margin-left: 20px;
}

.box2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: solid 1px red;

}

.searcher{
    padding: 2px 20px 2px 20px;
    background: rgb(230, 230, 230);
    border-radius: 0 3px 3px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    border: solid 1px rgb(190, 189, 189);
}

.voice-search{
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin-left: 5px;
    

}

.box2 .searcher img{
    align-self: center;
    object-fit: cover;
    object-position: center;
}

.box3{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: solid 1px red;
}

input{
    height: 30px;
    width: 550px;
    border: solid 1px rgb(190, 189, 189);
}

.startSesion{
    margin-right: 10px;
}

.definitions{
    margin-right: 30px;
}

.bottom-login{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: solid 2px rgb(106, 153, 253);
    padding: 0 10px 0 10px;
    height: 35px;
    border-radius: 2px;    
}
.bottom-login p{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    color:rgb(12, 75, 211);
    font-weight: 500;
    font-size: 14px;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid red;
 
}


.container{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    max-width: 85vw;
    margin-top: 20px;

}


.container-right{
    border: 1px solid red;
    flex: 3;
    margin: 10px 10px;
}

.player-img img{
    display: flex;
    height: 750px;
    width: 100%;
    background: rgba(255, 166, 0, 0.507);
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    cursor: pointer;
}

.box01{
    border: 1px solid rgb(0, 17, 255);
    height: 85px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    padding-bottom: 20px;
}

.title-info{
    flex: 1;
    border: 1px solid rgb(0, 17, 255);
}

.title-info p{
    color: grey;
}

.interactions{
    flex: 2;
    border: 1px solid rgb(0, 17, 255);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.icons{
    border: 1px solid rgb(4, 0, 248);
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items:center;


}

.inline{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-size: 12px;
    margin: 0px 20px 0px 10px;
}









.box02{
    border: 1px solid rgb(4, 0, 248);
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(190, 190, 190);
}


.align-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

}

.user-box h1{
    font-size: 20px;
    margin-left: 10px;
}

.user-box span{
    font-size: 15px;
    margin-top: -14px;
    margin-left: 10px;
}

.video_user_img{
    display: flex;
    height: 50px;
    width: 50px;
    background: rgb(197, 0, 0);
    border-radius: 50%;
}

.user-complement{
    display: flex;
    flex-direction: column;
}

.sub-button button{
    padding: 10px;
    background: rgb(197, 0, 0);
    color: white;
    font-weight: 400;
    border: none;
    
}


.box02-1{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(190, 190, 190);

}

.box02-1 button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: grey;
    cursor: pointer;

}
.box02-1 button:hover{
    color: black;
}

.box02-1 p{
    font-size: 15px;

}

.box001{
    width: 300px;
    margin-left: 60px;
    margin-bottom: 10px;
}


.box02-2{
    border: 1px solid rgb(4, 0, 248);
    height: 250px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.ordenar{
    display: flex;
    font-weight: 500;
    margin-left: 30px;
}

.ordenar p{
    color: black;
   
}

.coments-info{
    display: flex;
}

.user-comments-area{
    display: flex;
}

.comment-here{
    margin-left: 20px;
    width: 100%;
}

.comment-here p{
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(190, 190, 190);

}

.user-comments-area .video_user_img{
    background-color: rgb(125, 186, 255);
}















.box03{
    border: 1px solid rgb(4, 0, 248);
    height: 250px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(190, 190, 190);
}


.container-left{
    border: 1px solid red;
    flex: 1;
}

.picture-left img{
    display: flex;
    width: 100%;
    background: rgba(255, 166, 0, 0.507);
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    cursor: pointer;
    
}

.box-picture-left{
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;


}


.picture-left{
    flex: 1;
    display: flex;
    

}


.picture-left-complement{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.picture-left-complement h1{
    font-size: 18px;

}

.picture-left-complement p{
    font-size: 12px;
}

.picture-left-complement span{
    font-size: 12px;
}